.tela-suporte-container {
  padding: 2rem;
  max-width: 600px;
  justify-self: center;
  margin-left: 55px;
  width: 600px;
}

.mensagens-container {
  border: 1px solid #ccc;
  padding: 16px;
  height: 400px;
  overflow-y: auto;
  margin-bottom: 16px;
}

.mensagem {
  margin-bottom: 10px;
}

.mensagem.user {
  text-align: right;
  color: #555;
  font-style: normal;
}

.mensagem.bot {
  text-align: left;
  color: #111;
  font-style: italic;
}

.input-pergunta {
  width: 80%;
  padding: 8px;
  border-radius: 0.3rem;
  border: solid 1px;
}

.botao-enviar {
  padding: 8px;
  margin-left: 8px;
  color: white;
  background-color: rgb(11, 86, 247);
  border-radius: 0.3rem;
  border-color: rgb(11, 86, 247);
  cursor: pointer;
}

@media(max-width:692px) {
  .tela-suporte-container{
    width: 450px
  }
}

@media(max-width:548px) {
  .tela-suporte-container{
    width:400px
  }
}