.sectiongastos {
  margin-left: 55px;
  padding: 2rem;
}

.gastoItem {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 20px;
  align-items: center;
  border: solid 1px;
}

.gastoButtons button {
  margin-left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}