.section {
    height: 500px;
    width: 900px;
    background-color: hwb(125 51% 11%);
    justify-self: center;
    display: flex ;
    gap:1rem;
    flex-wrap: wrap;
    border-radius: 10px;
}


.btVoltar {
    margin-top: 35px;
    margin-left: 35px;
    height: 48px;
    width: 65px;
    border-radius: 11px;
    border: none;
    background-color:  hwb(221 29% 1%);
    color: white;
    font-size: 20px;
    cursor: pointer;
}


.Nome {
    margin-top: 1px;
    margin-left: 15px;
    height: 53px;
    width: 350px;
    border-radius: 10px;
    font-size: 21px;
    border:solid #acacac 1px;
}

.Email {
    margin-top: 1px;
    margin-left: 35px;
    height: 53px;
    width: 350px;
    border-radius: 10px;
    font-size: 21px;
    border:solid #acacac 1px;
}

.Senha {
    height: 53px;
    width: 350px;
    border-radius: 10px;
    font-size: 21px;
    border:solid #acacac 1px;
    margin-right: 3rem;
}



.EsconderSenhaRegister {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: 0;   
    color: rgb(0, 0, 0);
    margin-left: -84px;
}

.DtNascimento {
    margin-left: 35px;
    height: 54px;
    width: 354px;
    border-radius: 10px;
    font-size: 21px;
    border:solid #acacac 1px;
}

.btCadastrar {
    margin-bottom: 30px;
    height: 50px;
    width: 210px;
    border-radius: 10px;
    border: none;
    font-size: 23px;
    background-color: hwb(221 29% 1%);
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-right: 6px;
}

.AvisoPreenchimento {
    color: red;
    justify-self: center;
    margin-top: 1rem;
    margin-left: 21rem;
    text-align: center;
    justify-content: center;
}

@media(max-width:950px) {
    .section {
        height: 25rem;
        width: 45rem;
    }

    div .formulario {
        margin-top: 10px
    }

    .Nome, .Email, .Senha, .DtNascimento, .CPF {
        height: 2.6rem;
        width: 17rem;
        font-size: 18px;
    }

    button .btVoltar, .btCadastrar {
        height: 2.6rem;
    }

    .btCadastrar {
        font-size: 18px;
    }

    .AvisoPreenchimento {
        margin-left: 15rem;
    }
}

@media(max-width:760px) {
    .section {
        height: 37rem;
        width: 30rem;
    }
    
    .formulario {
        display: grid !important;
        grid-template-columns: 1fr !important;
        row-gap: 20px;
        column-gap: 0;
        margin: 20px 20px;
    }

    .btVoltar {
        height: 2rem;
        font-size: 18px;
    }

    .Nome {
        margin-top: 61px;
    }

    .Nome, .Email, .Senha, .DtNascimento, .CPF {
        width: 100% !important;
        margin-left: 0;
        font-size: 16px;
    }

    .linhaFinal {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }

    .AvisoPreenchimento {
        margin-left: 7rem;
    }
}

@media(max-width:545px) {
    .section {
        width: 22rem;
    }

    .Nome {
        margin-top: 3px;
    }

    .btCadastrar {
        height: 2.4rem !important; 
        width: 10rem;
        font-size: 17px !important;
    }

    .AvisoPreenchimento {
        margin-left: 3rem;
    }
}

body {
    text-align: center;
    margin: 0;
}

.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 25px;
    margin: 40px 35px 20px 35px;
}

.linhaFinal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 35px;
    margin-top: auto;
}