.section {
  height: 390px;
  width: 600px;
  background-color: hwb(125 51% 11%);
  justify-self: center;
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.Email, .Senha {
  height: 50px;
  width: 350px;
  border-radius: 10px;
  font-size: 21px;
  border: solid #acacac 1px;
}

.Email {
  margin-top: 70px;
}

.Senha {
  margin-top: 20px;
}

.entrar {
  margin-top: 30px;
  height: 50px;
  width: 220px;
  border-radius: 10px;
  border: none;
  font-size: 23px;
  background-color: rgb(11, 86, 247);
  color: white;
  font-weight: bold;
  cursor: pointer;
}
