.PerfilIcon{
    margin-top: 2rem;
    justify-self: center;
    justify-items: center;
    height: 10rem;
    width: 10rem;
    border-radius: 1000px;
    background-color: #b3b3b3;
}

.iconePerf{
    justify-content: center;
}

div .iconePerf i{
    padding: 5px;
    text-align: center;
    justify-items: center;
    font-size: 110px;
}